[Interface]
Address = {{ wireguard_server__ipv4 }}
Address = {{ wireguard_server__ipv6 }}
SaveConfig = true
{% if wireguard_server__router %}
PostUp = echo 1 > /proc/sys/net/ipv4/ip_forward
PostUp = echo 1 > /proc/sys/net/ipv4/conf/all/proxy_arp
PostUp = echo 1 > /proc/sys/net/ipv6/conf/all/forwarding
PostUp = ufw route allow in on wg0
PostUp = ufw route allow out on wg0
PostDown = ufw route delete allow in on wg0
PostDown = ufw route delete allow out on wg0
PostDown = echo 0 > /proc/sys/net/ipv4/ip_forward
PostDown = echo 0 > /proc/sys/net/ipv4/conf/all/proxy_arp
PostDown = echo 0 > /proc/sys/net/ipv6/conf/all/forwarding
{% else %}
PostUp = echo 1 > /proc/sys/net/ipv4/ip_forward
PostUp = echo 1 > /proc/sys/net/ipv4/conf/all/proxy_arp
PostUp = echo 1 > /proc/sys/net/ipv6/conf/all/forwarding
PostUp = ufw route allow in on gate0 out on {{ wireguard_server__out_interface }}
PostUp = iptables -t nat -I POSTROUTING -s {{ wireguard_server__ipv4_network }} -o {{ wireguard_server__out_interface }} -j MASQUERADE
PostUp = ip6tables -t nat -I POSTROUTING -s {{ wireguard_server__ipv6_network }} -o {{ wireguard_server__out_interface }} -j MASQUERADE
PreDown = ufw route delete allow in on gate0 out on {{ wireguard_server__out_interface }}
PreDown = iptables -t nat -D POSTROUTING -s {{ wireguard_server__ipv6_network }} -o {{ wireguard_server__out_interface }} -j MASQUERADE
PreDown = ip6tables -t nat -D POSTROUTING -s {{ wireguard_server__ipv6_network }} -o {{ wireguard_server__out_interface }} -j MASQUERADE
PostDown = echo 0 > /proc/sys/net/ipv4/ip_forward
PostDown = echo 0 > /proc/sys/net/ipv4/conf/all/proxy_arp
PostDown = echo 0 > /proc/sys/net/ipv6/conf/all/forwarding
{% endif %}
ListenPort = 51820
PrivateKey = {{ wireguard_server_private_key }}

{% if wireguard_server__router %}
[Peer]
PublicKey = {{ wireguard_server__router_gateway_public_key }}
AllowedIPs = 0.0.0.0/0
Endpoint = {{ wireguard_server__router_gateway_address }}
{% endif %}